<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Edit orders</title>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class = "bar">
                <a class="navbar-brand" href="#">FPT Book store</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/adminHome">Menu</a></li>
                <li><a href="addProduct">Add book</a></li>
                <li><a href="product">View all books</a></li>
                <li><a href="viewprofile">View profile</a></li>
                <li><a href="/">Logout</a></li>
            </ul>
        </div>
    </nav>
    <hi>Edit orders Page</hi>
    <form method="post" action="editorder">
        <br>
        <input type="hidden" name="txtId" value="{{id}}">
        Enter status:<div class="login__decentralization">
                        <select name="txtstatus" id="txtstatus">
                            <option value="Delivered">Delivered</option>
                            <option value="Delivering">Delivering</option>
                            <option value="Canceled">Cancel</option>
                            </option>
                        </select>
                    </div><input type="submit" value="Update">
            <br>
        <table class="table table-dark table-striped">
            <tr>
                <th>id</th>
                <th>Cart</th>
                <th>time</th>
                <th>status</th>
            </tr>
            <tr>
                <td>{{orders._id}}</td>
                <td>{{orders.cart}}</td>
                <td>{{orders.time}}</td>
                <td>{{orders.status}}</td>
            </tr>
        </table>
    </form>

</body>

</html>